<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
<body>
    {{>navbar}}
     <div class="container-fluid main_header">
        <div class="row">
           <div class="col-md-10 col-12 mx-auto">
         <div class="row">
            <div class=" main_header_left align-items-center"> 
                <figure>
                  <img src="images/404error.jpg" alt="bheemImg" id="errorimg" title="errorImage " class="img-fluid">
                </figure>
              </div>
           
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_left">
             <p>Welcome to weather app</p>
             <h1>{{errMsg}}</h1>
              <a href="/"><button>Go Back</button></a>
            </div>
            <!-- right side div -->
           
         </div>
           </div>
        </div>
     </div> 
     <footer class="footer">
        <p>created with 💙 by Bheem</p>
     </footer>   
</body>
</html>