<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
<body>
    {{>navbar}}
     <div class="container-fluid main_header">
        <div class="row">
           <div class="col-md-10 col-12 mx-auto">
         <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center"> 
                <figure class="myImg">
                  <img src="images/favImage.jpg" alt="bheemImg" title="bheem " class="img-fluid">
                </figure>
              </div>
  
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_left">
             <p>Welcome to weather app</p>
             <h1>I am a  <span class="text_clr">MERN STACK Developer</span> </h1>
               <br>
               <a href="https://bheem-portfolio-10.vercel.app/" class="about_btn" target="blank"><button class="about_btn">About me</button></a>
               
            </div>
            <!-- right side div -->
           
         </div>
           </div>
        </div>
     </div> 
     <footer class="footer">
        <p>created with 💙 by Bheem</p>
     </footer>   
</body>
</html>